# Node
node_modules/
app/node_modules/
dist/
app/public/vite/

# Rails
/log/*
/tmp/*
/storage/*
/public/assets
.byebug_history

# System
.env
.env.*
config/master.key
config/credentials.yml.enc

# Others
.DS_Store
